body{
      font-family: 'Roboto';
      background-color: rgb(240, 240, 240);
      margin: 0;

    }
    main{
      padding: 40px;
    }
    main img{
      width: 400px;
    }
    button{
      width: 44px;
      cursor: pointer;
    }
    header{
      padding: 10px;
      background-color: rgb(210, 180, 140);
      
    }
    .header-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    #brand{
      display: flex;
      align-items: center;
    }
    #brand img{
      width: 50px;
      padding: 10px;
      cursor: pointer;
    }

    #hidden-nav{
      background-color: rgb(240, 240, 240);
      display: none;
    }

    #hidden-nav ul{
      list-style: none;
      
    }

    #hidden-nav ul li{
      padding: 5px;
      text-align: center;
    }
    #wide-nav{
      display: none;
    }

    .current{
      color: blue;
    }
    footer{
      margin-top: 10px;
      display: grid;
      background-color: rgb(210, 180, 140);
      text-align: center; 
    }
    footer img{
      width: 30px;
      padding: 5px;
      cursor: pointer;
      transition: background-color 0.25s;
    }
    footer img:hover{
      background-color: rgb(240, 240, 240);
      border-radius: 3px;
    }

    #socials{
      display: flex;
      justify-content: center;
      align-items: center;
    }