/* for the body */
body{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(230, 227, 227); 
}
main{
  padding-bottom: 100px;
}
/* ---------- This is for the header ---------- */
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #eee;
  padding: 10px;
  
}
#logo-name{
  display: flex;
  align-items: center;
}
#logo-name img{
  width: 100px;
  margin: 0 7px;
}
#logo-name p{
  font-size: 30px;
}

#ham-menu{
  font-size: 60px;
}
#ham-menu:hover{
  cursor: pointer;
  color: black;
  background-color: white;
  padding: 5px;
  transition: color 0.25s, background-color 0.25s, padding 0.25s ;
}

nav{
  display: none;
}

.js-nav{
  display: flex;
  justify-content: center;
  background-color: rgb(219, 98, 54);
  
}
.js-nav ul li a{
  text-decoration: none;
  color: black;
  font-size: larger;

}
.js-nav ul li{
  list-style-type: none;
  padding: 5px;
}

/* ---------- This is for the main ---------- */
.outer-container{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 35px;
}

.content-section{
  background-color: rgb(80, 80, 80);
}
.content-section h2{
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 0;
}

.content-section div{
  color: white;
}


.content-section div{
  padding: 10px;
}

.weather-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.weather-img img{
  width: 100%;
}

.business-section section{
  border: solid rgb(90, 90, 90) 3px;
  margin: 30px 0;
  border-radius: 5px;
}
.business-name{
  text-align: center;
  border-bottom: solid black 3px;
}

.business-name h2, .business-name p{
  margin: 0;
}

.business-info{
  display: grid;
  grid-template-columns: 100px 1fr;
  column-gap: 70px;
}

.business-info img{
  width: 100%;
  padding: 5px;
  
}

/* ---------- footer ---------- */

footer{
  background-color: brown;
  padding: 10px;
  
  height: 350px;
 
  /* left: 0;
  right: 0;
  bottom: 0;
  height: 100px; */
}

.chamber-address{
  color: white;
}
.social{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.social img{
  width: 40px;
  padding: 10px;
}

.social img:hover{
  background-color: rgb(168, 164, 164);
  border-radius: 5px;
  transition: background-color 0.25s;
}
.my-info{
  color: white;
}

.about{
  color: white;
}
