/* for the body */
body{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(230, 227, 227); 
}
main{
  padding-bottom: 100px;
}
/* ---------- This is for the header ---------- */
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #eee;
  padding: 10px;
  
}
#logo-name{
  display: flex;
  align-items: center;
}
#logo-name img{
  width: 100px;
  margin: 0 7px;
}
#logo-name p{
  font-size: 30px;
}

#ham-menu{
  font-size: 60px;
}
#ham-menu:hover{
  cursor: pointer;
  color: black;
  background-color: white;
  padding: 5px;
  transition: color 0.25s, background-color 0.25s, padding 0.25s ;
}

.active {
  /* text-decoration: underline; */
  font-weight: bold;
}


nav{
  display: none;
}

.js-nav{
  display: flex;
  justify-content: center;
  background-color: rgb(120, 120, 120);
  margin-bottom: 5px;
  
}
.js-nav ul li a{
  text-decoration: none;
  color: black;
  font-size: larger;
  padding: 10px;
}

.js-nav ul li a:hover{
  background-color: #eee;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.25s;
}
.js-nav ul li{
  list-style-type: none;
  padding: 5px;
}
.current{
  text-decoration: underline;
  color: red;

}
.hero-images {
  border: solid rgb(120, 120, 120) 2px;
  height: 120px;
  position: relative;
}

.hero-images img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.hero-images button{
  position: absolute;
  top: 80px;
  left: 20px;
  background-color: black;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.25s, color 0.25s, border 0.25s;
}

.hero-images button:hover{
background-color: white;
color: black;
border: solid black 2px;
cursor: pointer;
}

/* views */
.list-view{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.list-view img{
  width: 40px;
  padding: 10px;
  border: solid black 1px;
  margin: 10px;
}
.list-view img:hover{
  cursor: pointer;
}



.js-list-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 100px;
  border: solid black 2px;
}
#member-name{
  display: flex;
  align-items: center;
}



/* ---------- This is for the main ---------- */
.outer-container{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 35px;
  
}
.black{
  background-color: black;
  color: white;
}

.content-section{
  background-color: rgb(120, 120, 120);
}
.content-section h2{
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 0;
}

.content-section div{
  color: black;
}

.content-section div{
  padding: 10px;
}

.weather-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.weather-img img{
  width: 100%;
}

.business-section section{
  border: solid rgb(90, 90, 90) 3px;
  margin: 30px 0;
  border-radius: 5px;
}
.business-name{
  text-align: center;
  border-bottom: solid black 3px;
}

.business-name h2, .business-name p{
  margin: 0;
}

.business-info{
  display: grid;
  grid-template-columns: 100px 1fr;
  column-gap: 70px;
}

.business-info img{
  width: 100%;
  padding: 5px;
}

form{
  margin: 20px;
}
form button{
  background-color: rgb(207, 68, 68);
  border: none;
  padding: 8px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  
}


input{
  padding: 10px;
  width: 55%;
  max-width: 250px;
}
.card{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: rgb(207, 68, 68);
  margin: 10px;
  border-radius: 10px;

  /* for animi */
    opacity: 0;
    transform: translateY(20px);
    animation: fadeSlideUp 0.6s ease-out forwards;
    animation-delay: var(--delay, 0s); /* Optional: stagger effect */  
}

@keyframes fadeSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card button{
  margin: 5px;
  border: none;
  padding: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 4px;
}
#my-dialog::backdrop{
  background-color: rgba(0, 0, 0, 0.5);
}



/* ---------- footer ---------- */

footer{
  background-color: brown;
  padding: 10px;
  height: 350px;
}

.chamber-address{
  color: white;
}
.social{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.social img{
  width: 40px;
  padding: 10px;
}

.social img:hover{
  background-color: rgb(168, 164, 164);
  border-radius: 5px;
  transition: background-color 0.25s;
}
.my-info{
  color: white;
}

.about{
  color: white;
}

.wide-nav{
  display: none;
}

