section{
  border: red solid 1px;
  margin-bottom: 10px;
}
section h2{
  background-color: rgb(80, 80, 80);
  text-align: center;
  margin-top: 0;
  color: white;
}

.about-me p{
  padding: 10px;
}

.my-picture{
  height: 340px;
}

.my-picture div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-picture div img{
  width: 200px;
  margin: 0 auto;
}

.courses .course-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.js-number-of-courses{
  font-style: italic;
  text-align: center;
}
.js-course-num{
  font-style: oblique;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.js-result-course{
  background-color: rgb(219, 98, 54);
  color: white;
  border: none;
  border:none;
  border-radius: 5px;
  width: 90px;
}

.js-result-div{
  display: grid;
  grid-template-columns:  1fr 1fr;
  column-gap: 4px;
  row-gap: 4px;
  margin-bottom: 5px;
  margin-left: 75px;
}

.is-completed{
  background-color: chartreuse;
}
