
body{
  background-color: rgb(247, 247, 247);
}

main{
  display: grid;
  grid-template-columns: auto-fit;
}
.prophet-card{
  background-color: rgb(119, 119, 168);
  color: white;
  text-align: center;
  padding-bottom: 10px;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: chocolate;
  margin-top: 5px;
  color: white;
}