@media screen and (min-width: 600px) {

  #ham-menu{
    display: none;
  }

  #wide-nav{
    display: block;
    padding: 8px;
  }

  #wide-nav ul{
    display: flex;
    justify-content: space-around;
  }
  #wide-nav ul li{
    list-style: none;
    padding: 15px;
    transition: background-color 0.25s;
  }

  #wide-nav ul li:hover{
      background-color: rgb(240, 240, 240);
      border-radius: 5px;
      cursor: pointer;
    
  }  

  .food-card {
    grid-template-columns: 300px 1fr;
    grid-template-areas:
      "pic name"
      "pic info"
      "pic button";
    width: 600px;
  }




  .food-container{
    grid-template-columns: 1fr 1fr ;
    column-gap: 10px;
  }

  .about{
    display: flex;
   }

  .big-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
    
}